<div *ngIf="selectedAluno">
    <h2>{{selectedAluno.nome | uppercase}} Detalhes</h2>
    <div>id: {{selectedAluno.id}}</div>
    <div>
      <label for="nome-aluno">Nome do Aluno: </label>
      <input id="nome-aluno" [(ngModel)]="selectedAluno.nome" placeholder="nome">
    </div>
    <div>Idade: {{selectedAluno.idade}}</div>
    <div>Cidade: {{selectedAluno.cidade}}</div>
    <div>Matrícula: {{selectedAluno.matri}}</div>
  </div>

<h2>Alunos</h2>
<table>
    <tr class="alunos">
        <th *ngFor="let aluno of alunos">
        <button [class.selected]="aluno === selectedAluno" type="button" (click)="onSelect(aluno)">
          <span class="id">{{aluno.id}}</span>
          <span class="nome">{{aluno.nome}}</span>
        </button>
    </th>
    </tr>
</table>